server:
 port: 8080

spring:
 mvc:
  view:
   prefix: /
   suffix: .html
 datasource:
  username: root
  password: admin9#
  url: jdbc:mysql://localhost:3306/security?characterEncoding=utf8&useSSL=false&serverTimezone=UTC&rewriteBatchedStatements=true
  driverClassName: com.mysql.cj.jdbc.Driver
 redis:
  host: 127.0.0.1
  port: 6379
  database: 0
  jedis:
   pool:
    max-active: 8
    max-wait: 1ms
    max-idle: 8
    min-idle: 0
   timeout: 5000

mybatis: 
 mapper-locations: classpath:mapper/*.xml
